---
layout: default
---
<div class="container main">
  <div class="row">
    <header class="col text-center">
      <img src="/assets/logo128.png" alt="Toggl To Manager.io Logo">

      <h1>
        {{ site.title }}
      </h1>

      <p class="lead text-center">
        Import <strong class="type-it">Toggl<br>Clockify</strong> time as Billable Time<br>into <strong>Manager.io</strong> automatically
      </p>


      <a
        href="https://chrome.google.com/webstore/detail/meghldmooffcmhnaifecebgeeaemkjle"
        class="btn btn-danger btn-lg mt-3 mb-5"
        target="_blank"
      >
        Download Now
      </a>

      <a
        href="/support"
        class="btn btn-dark btn-lg mt-3 mb-5"
      >
        Get Help
      </a>

      <hr>
    </header>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2 class="display-4 text-center mt-4">
        Invoice Your Customers
        <br>
        in 4 Easy Steps
      </h2>
    </div>
    
    <div class="col-sm">
      <div class="text-center text-sm-left">
        <h3
          class="text-light bg-dark d-inline-block rounded-circle text-center"
          aria-label="Step 1"
          style="width: 40px; line-height: 40px"
        >
          1
        </h3>
      </div>
      <figure style="max-width: 320px; margin-left: auto; margin-right: auto;">
        <img
          class="figure-img img-fluid rounded shadow"
          src="/assets/slide0.png"
          alt="Screenshot of Toggl To Manager.io extension. Form that asks for Toggl API Token, Manager Server URL, Manager Username, and Manager Password."
        />
        <figcaption class="figure-caption my-3">
          Give the integration access to Toggl/Clockify and Manager
        </figcaption>
      </figure>
    </div>

    <div class="col-sm">
      <div class="text-center text-sm-left">
        <h3
          class="text-light bg-dark d-inline-block rounded-circle text-center"
          aria-label="Step 2"
          style="width: 40px; line-height: 40px"
        >
          2
        </h3>
      </div>
      <figure style="max-width: 320px; margin-left: auto; margin-right: auto;">
        <img
          class="figure-img img-fluid rounded shadow"
          src="/assets/slide1.png"
          alt="Screenshot of Toggl To Manager.io extension. Form that asks you to select a Toggl workspace and a Manager Business."
        />
        <figcaption class="figure-caption my-3">
          Choose your Toggl/Clockify Workspace and Manager Business
        </figcaption>
      </figure>
    </div>
    
    <div class="col-sm">
      <div class="text-center text-sm-left">
        <h3
          class="text-light bg-dark d-inline-block rounded-circle text-center"
          aria-label="Step 3"
          style="width: 40px; line-height: 40px"
        >
          3
        </h3>
      </div>
      <figure style="max-width: 320px; margin-left: auto; margin-right: auto;">
        <img
          class="figure-img img-fluid rounded shadow"
          src="/assets/slide2.png"
          alt="Screenshot of Toggl To Manager.io extension. Form that asks you to associate a Toggl Client to Manager Customer and the start date and end date of the report you want to generate."
        />
        <figcaption class="figure-caption my-3">
          Associate a Toggl/Clockify Client to a Manager Customer
        </figcaption>
      </figure>
    </div>
    
    <div class="col-sm">
      <div class="text-center text-sm-left">
        <h3
          class="text-light bg-dark d-inline-block rounded-circle text-center"
          aria-label="Step 4"
          style="width: 40px; line-height: 40px"
        >
          4
        </h3>
      </div>
      <figure style="max-width: 320px; margin-left: auto; margin-right: auto;">
        <img
          class="figure-img img-fluid rounded shadow"
          src="/assets/slide3.png"
          alt="Screenshot of Toggl To Manager.io extension. Preview of the Manager Billable Time you are about to generate."
        />
        <figcaption class="figure-caption my-3">
          Preview the Manager Billable Time you are about to generate
        </figcaption>
      </figure>
    </div>
    
    <div class="col-sm-12">
      <h2 class="display-4 text-center">What you have</h2>
      <figure style="margin-left: auto; margin-right: auto;">
        <img
          class="figure-img img-fluid rounded shadow"
          src="/assets/toggl-report.png"
          alt="Screenshot of a Toggl Report."
        />
        <figcaption class="figure-caption my-3 text-center">
          Automatically export a Toggl report like the one above
        </figcaption>
      </figure>
    </div>

    <div class="col-sm-12">
      <h2 class="display-4 text-center">What you want</h2>
      <figure style="margin-left: auto; margin-right: auto;">
        <img
          class="figure-img img-fluid rounded shadow"
          src="/assets/manager-billable-time.png"
          alt="Screenshot of Manager Billable Time entries."
        />
        <figcaption class="figure-caption my-3 text-center">
          As Billable Time into Manager
        </figcaption>
      </figure>

      <div class="text-center">
        <a
          href="https://chrome.google.com/webstore/detail/meghldmooffcmhnaifecebgeeaemkjle"
          class="btn btn-danger btn-lg my-5 px-4 py-3"
          target="_blank"
        >
          Download Now
        </a>
      </div>
    </div>
  </div>
</div>
