<footer>
  <div class="container">
    <div class="row biography">
      <div class="col-sm-4">
        <h2>who am i</h2>
        <p>{{ site.biography }}</p>
      </div>
      <div class="col-sm-4">
        <h2>what is this</h2>
        <p>{{ site.description }}</p>
      </div>
      <div class="col-sm-4">
        <h2>where am i</h2>
          {% if site.email %}
          <div>
            <a href="mailto:{{ site.email }}">
              <span class="username">{{ site.email }}</span>
            </a>
          </div>
          {% endif %}
          {% if site.github_username %}
          <div>
            <a
              href="https://github.com/{{ site.github_username }}"
              target="_blank"
            >
              <span class="username">github//{{ site.github_username }}</span>
            </a>
          </div>
          {% endif %}
          {% if site.twitter_username %}
          <div>
            <a
              href="https://twitter.com/{{ site.twitter_username }}"
              target="_blank"
            >
              <span class="username">twitter//{{ site.twitter_username }}</span>
            </a>
          </div>
          {% endif %}
          {% if site.linkedin_username %}
          <div>
            <a
              href="https://id.linkedin.com/in/{{ site.linkedin_username }}"
              target="_blank"
            >
              <span class="username">linkedin//{{ site.linkedin_username }}</span>
            </a>
          </div>
          {% endif %}
          {% if site.facebook_username %}
          <div>
            <a
              href="https://www.facebook.com/{{ site.facebook_username }}"
              target="_blank"
            >
              <span class="username">facebook//{{ site.facebook_username }}</span>
            </a>
          </div>
          {% endif %}
      </div>
    </div>
    {% if site.colophon %}
    <div class="row copyright">
      <div class="col text-center">
        {{ site.colophon }}
      </div>
      <div class="col-12 text-center">
        <a href="/privacy">Privacy Policy</a>
      </div>
    </div>
    {% endif %}
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/typeit@5.10.6/dist/typeit.min.js"></script>
<script>
new TypeIt('.type-it', {
  breakLines: false,
  loop: true,
  nextStringDelay: 1250,
});
</script>
<style>
.ti-cursor {
  left: calc(100% - 0.3em) !important;
}
</style>